<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.gxf.spring.struts.mybatis.dao.AccountDetailMBDao">
  	
  	<select id="getAccountingDetailByUserId" parameterType="int" 
		resultType="AccountingDetail">
		SELECT * from account_detail WHERE user_id = #{user_id} AND yxbz='Y'
	</select>
	
	<select id="getAccountingDetailByUuid" parameterType="String" 
		resultType="AccountingDetail">
		SELECT * from account_detail WHERE accuuid=#{accuuid} AND yxbz='Y'
	</select>
	
	<select id="getAccountingDetailByPatchUuid" parameterType="List" 
		resultType="AccountingDetail">
		SELECT * from account_detail 
			WHERE yxbz='Y' AND accuuid IN 
			<foreach collection="list" index="index" item="accuuid" open="(" separator="," close=")">  
        		#{accuuid}  
    		</foreach>  
	</select>
  
   <update id="updateOne" parameterType="AccountingDetail">
  		 UPDATE account_detail SET je = #{je}, shijian = #{shijian}, xgrq = #{xgrq}  
				WHERE accuuid=#{accuuid}
  	</update>
  	
	<insert id="addOne" parameterType="AccountingDetail">
		<selectKey keyColumn="accuuid" keyProperty="accuuid" resultType="string" order="BEFORE">
			SELECT REPLACE(uuid(),'-','')
		</selectKey>
		INSERT INTO account_detail(accuuid, rec_dm, user_id, je,  shijian, yxbz, xgrq, lrrq)  
				VALUES( #{accuuid}, #{rec_dm}, #{user_id}, #{je}, #{shijian}, 'Y', null, NOW())
	</insert>
	
	<update id="deleteOne" parameterType="Map">
		UPDATE account_detail SET yxbz='N', xgrq = #{xgrq} WHERE accuuid=#{accuuid}
	</update>
	
	<update id="deletePatch" parameterType="List">
  		UPDATE account_detail SET yxbz='N', xgrq=NOW() 
  			WHERE accuuid in 
  			<foreach collection="list" index="index" item="accuuid" open="(" separator="," close=")">  
        		#{accuuid}  
    		</foreach>  
  	</update>
    
</mapper>