<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" 
	xmlns:context="http://www.springframework.org/schema/context"   
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
     http://www.springframework.org/schema/context 
     http://www.springframework.org/schema/context/spring-context-4.0.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
     http://cxf.apache.org/jaxws 
     http://cxf.apache.org/schemas/jaxws.xsd">
    
     <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">  
        <property name="brokerURL" value="tcp://localhost:61616" /> 
        <property name="userName" value="admin"></property>
		<property name="password" value="admin"></property> 
    </bean>  
  
    <bean id="jmsConfig" class="org.apache.cxf.transport.jms.JMSConfiguration">  
        <property name="connectionFactory" ref="connectionFactory" />  
        <property name="targetDestination" value="cxf.queue" />  
    </bean>
    
    <jaxws:client id="billService" serviceClass="cn.gxf.spring.quartz.job.endpoint.BillServiceEndpoint"
                  address="jms://">
         <jaxws:features>  
            <bean class="org.apache.cxf.transport.jms.JMSConfigFeature">  
                <property name="jmsConfig" ref="jmsConfig" />  
           </bean>  
        </jaxws:features>
        <jaxws:outInterceptors>
        	<ref bean="authInterceptor"/>
            <ref bean="wss4jOutInterceptor"/>
        </jaxws:outInterceptors>
	
    </jaxws:client>
    
    <!--  Cxf WebService 客户端  -->
    <!-- <jaxws:client id="billService" serviceClass="cn.gxf.spring.quartz.job.endpoint.BillServiceEndpoint"
                  address="http://localhost:8080/keepaccounts-main/services/billService">
        <jaxws:outInterceptors>
        	<ref bean="authInterceptor"/>
            <ref bean="wss4jOutInterceptor"/>
        </jaxws:outInterceptors>
	
    </jaxws:client> --> 
                  
    <bean id="authInterceptor" class="cn.gxf.spring.cxf.AuthorizingInterceptor">
    	<property name="userName" value="${cxf_client.user}" />
    	<property name="password" value="${cxf_client.password}" />
    </bean>
    
    <!--客户端发送请求拦截器-->
    <bean id="wss4jOutInterceptor" class="org.apache.cxf.ws.security.wss4j.WSS4JOutInterceptor">
        <constructor-arg>
            <map>
                <!--签名（使用自己的私钥）-->
                <entry key="action" value="Signature Encrypt"/>
                <entry key="user" value="ciecc"/>
                <entry key="passwordCallbackClass" value="cn.gxf.spring.cxf.ClientPasswordCallback"/>
                <entry key="signaturePropFile" value="client.properties"/>
                <!-- 加密 -->
                <entry key="encryptionPropFile" value="client.properties"/>
            </map>
        </constructor-arg>
    </bean>
    
    <bean id="clientPasswordCallback" class="cn.gxf.spring.cxf.ClientPasswordCallback"></bean>
    
</beans>