.container{
  width:100%;
  margin:auto;
}

#queryResTable{
  border-collapse:collapse;
  width:100%;
}

#queryResTable .blue{
  border:2px solid #1ABC9C;
}

#queryResTable .blue thead{
  background:#1ABC9C;
}



thead{
  color:white;
}

th,td{
  text-align:center;
  padding:5px 0;
}

tbody tr:nth-child(even){
  background:#ECF0F1;
}

tbody tr:hover{
background:#BDC3C7;
  color:#FFFFFF;
}

.fixed{
  top:0;
  position:fixed;
  width:auto;
  display:none;
  border:none;
}

.scrollMore{
  margin-top:600px;
}

.up{
  cursor:pointer;
}