<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" 
	xmlns:context="http://www.springframework.org/schema/context"   
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
     http://www.springframework.org/schema/context 
     http://www.springframework.org/schema/context/spring-context-4.0.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
     http://cxf.apache.org/jaxws 
     http://cxf.apache.org/schemas/jaxws.xsd">
    
    <import resource="classpath:META-INF/cxf/cxf.xml" />
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
    
    <!--  Cxf WebService 服务端示例 -->
    <jaxws:endpoint id="billService" implementor="cn.gxf.spring.quartz.job.endpoint.BillServiceEndPointImpl" 
    		address="/billService">
    	<jaxws:inInterceptors>
   			<ref bean="authInterceptor"/>
   			<ref bean="logInInterceptor"/>
    	</jaxws:inInterceptors>	
    </jaxws:endpoint>
    
    <bean id="authInterceptor" class="cn.gxf.spring.cxf.AuthorizingInterceptor" />
    <bean id="logInInterceptor" class="cn.gxf.spring.cxf.SoapMsgLogInInteceptor" />
    
</beans>