<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" 
	xmlns:context="http://www.springframework.org/schema/context"   
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
     http://www.springframework.org/schema/context 
     http://www.springframework.org/schema/context/spring-context-4.0.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
     http://www.springframework.org/schema/cache 
     http://www.springframework.org/schema/cache/spring-cache-4.0.xsd">
    
    <!-- 配置JMS连接工厂 -->
	<!-- <bean id="connectionFactory"
		class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="tcp://localhost:61616" />
	</bean> -->
	
	<bean id="jmsXaConnectionFactory" class="org.apache.activemq.ActiveMQXAConnectionFactory" lazy-init="true">
        <property name="brokerURL" value="tcp://localhost:61616" />
        <property name="redeliveryPolicy">
        	<bean id="redeliveryPolicy" class="org.apache.activemq.RedeliveryPolicy">
        		<property name="useExponentialBackOff" value="true"></property>
        		<property name="maximumRedeliveries" value="1"></property>
        	</bean>
        </property>
	</bean>
	
	 <bean id="amqConnectionFactory"  
          class="com.atomikos.jms.AtomikosConnectionFactoryBean" init-method="init" destroy-method="close" lazy-init="true">  
        <property name="uniqueResourceName" value="XAactiveMQ"/>  
        <property name="xaConnectionFactory" ref="jmsXaConnectionFactory"/>  
        <property name="poolSize" value="10"/>
    </bean>
    
    <!-- 发送消息的目的地（队列） -->
	<bean id="mailQueueDest"
		class="org.apache.activemq.command.ActiveMQQueue">
		<!-- 设置消息队列的名字 -->
		<constructor-arg index="0" value="mailQueue" />
	</bean>
    
    <!-- 配置QueueJms模板  -->
	<bean id="jmsQueueTemplate"
		class="org.springframework.jms.core.JmsTemplate" lazy-init="true">
		<property name="connectionFactory" ref="amqConnectionFactory" />
		<property name="defaultDestination" ref="mailQueueDest" />
		<property name="receiveTimeout" value="10000" />
		<property name="sessionTransacted" value="true"/>
	</bean>
    
    
    
</beans>