.g-icon-header {
    display: inline-block;
    background: url(../components/g_icon_header_account.png) no-repeat;
    width: 12px;
    height: 16px;
    margin-right: 8px;
    background-position: 0 -40px;
}
.userAccount {
    color: #333;
    max-width: 160px;
    line-height: 26px;
    text-overflow: ellipsis;
    white-space: nowrap!important;
    overflow: hidden;
    /* display: inline-block; */
}