.footer-evaluate li {
	    float: left;
	    width: 25%;
	}
	
	li {
		    list-style-type: none;
		    display: list-item;
		    text-align: -webkit-match-parent;
		}
		
		ol, ul, li {
		    list-style: none;
		    display: block;
		}
		/* 设置li中text在图标下方 */
		.footer-evaluate strong {
		    display: block;
		    margin-bottom: 1px;
		    color: #66625e;
		    font-size: 16px;
		    font-weight: 400;
		    line-height: 1.8;
		}
	
	.footer-evaluate {
			    height: 155px;
			    overflow: hidden;
			    overflow-x: hidden;
			    overflow-y: hidden;
			    padding-top: 40px;
			    background: #f7f7f7;
			    background-image: initial;
			    background-position-x: initial;
			    background-position-y: initial;
			    background-size: initial;
			    background-repeat-x: initial;
			    background-repeat-y: initial;
			    background-attachment: initial;
			    background-origin: initial;
			    background-clip: initial;
			    background-color: rgb(247, 247, 247);
			    color: #aba7a2;
			    text-align: center;
			}
			
			.g-layout {
		    position: relative;
		    width: 1000px;
		    margin: 0 auto;
		    margin-top: 0px;
		    margin-right: auto;
		    margin-bottom: 0px;
		    margin-left: auto;
		    font-family: 'PingFang SC',"Microsoft Yahei";
		}
		
		.g-icon {
		    display: inline-block;
		    background: url(//wacai-file.b0.upaiyun.com/common/c/header/img/g_icon_eb6fc11.png?v=20170216) no-repeat;
		    background-image: url(//wacai-file.b0.upaiyun.com/common/c/header/img/g_icon_eb6fc11.png?v=20170216);
		    background-position-x: initial;
		    background-position-y: initial;
		    background-size: initial;
		    background-repeat-x: no-repeat;
		    background-repeat-y: no-repeat;
		    background-attachment: initial;
		    background-origin: initial;
		    background-clip: initial;
		    background-color: initial;
		    vertical-align: middle;
		}
		
	.g-icon-evaluate-01, .g-icon-evaluate-02, .g-icon-evaluate-03, .g-icon-evaluate-04 {
	    width: 40px;
	    height: 40px;
	}
	
	.g-icon-evaluate-01 {
	    background-position: 0 -80px;
	    background-position-x: 0px;
	    background-position-y: -80px;
	}
	
	.g-icon-evaluate-02 {
	    background-position: -60px -80px;
	    background-position-x: -60px;
	    background-position-y: -80px;
	}
	
	.g-icon-evaluate-03 {
		   background-position: -120px -80px;
	}
	.g-icon-evaluate-04 {
	    background-position: -180px -80px;
	}
	
	i, cite, em, var, address, dfn {
	    font-style: italic;
	}