<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="cn.gxf.spring.struts.integrate.sysctr">

	<properties>
        <property name="LOG_HOME">logs1/sample</property>
        <property name="FILE_NAME">mylog</property>
    </properties>
 
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %l %msg%n" />
		</Console>

		<!-- <File name="filelog" fileName="${web:rootDir}/WEB-INF/log/test.log"
			append="true">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n" />
		</File> -->

		<RollingFile name="RollingFileDebug" fileName="${web:rootDir}/WEB-INF/log/debug.log"
			filePattern="${web:rootDir}/WEB-INF/log/$${date:yyyy-MM}/debug-%d{yyyy-MM-dd}-%i.log">
			<!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
			<ThresholdFilter level="Debug" onMatch="ACCEPT"	onMismatch="DENY" />
			<PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="5 MB" />
			</Policies>
		</RollingFile>
		
		<RollingFile name="RollingFileStruts" fileName="${web:rootDir}/WEB-INF/log/struts2.log"
			filePattern="${web:rootDir}/WEB-INF/log/$${date:yyyy-MM}/struts2-%d{yyyy-MM-dd}-%i.log">
			<!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
			<ThresholdFilter level="INFO" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="5 MB" />
			</Policies>
		</RollingFile>
		
		<RollingFile name="RollingFileSpring" fileName="${web:rootDir}/WEB-INF/log/spring4.log"
			filePattern="${web:rootDir}/WEB-INF/log/$${date:yyyy-MM}/spring4-%d{yyyy-MM-dd}-%i.log">
			<!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
			<ThresholdFilter level="INFO" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="5 MB" />
			</Policies>
		</RollingFile>


		<RollingFile name="RollingFileWarn" fileName="${web:rootDir}/WEB-INF/log/warn.log"
			filePattern="${web:rootDir}/WEB-INF/log/$${date:yyyy-MM}/warn-%d{yyyy-MM-dd}-%i.log">
			<ThresholdFilter level="WARN" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="5 MB" />
			</Policies>
		</RollingFile>
		
		<RollingFile name="RollingFileActionDebug" fileName="${web:rootDir}/WEB-INF/log/debug-action.log"
			filePattern="${web:rootDir}/WEB-INF/log/$${date:yyyy-MM}/debug-action-%d{yyyy-MM-dd}-%i.log">
			<ThresholdFilter level="Debug" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="5 MB" />
			</Policies>
		</RollingFile>
		
		
		<RollingFile name="loginInLogFile" fileName="${web:rootDir}/WEB-INF/log/login-in.log"
			filePattern="${web:rootDir}/WEB-INF/log/$${date:yyyy-MM}/login-in-%d{yyyy-MM-dd}-%i.log">
			<ThresholdFilter level="Debug" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="5 MB" />
			</Policies>
		</RollingFile>
		
		<!-- syncSend不能设置为false, 否则无法实现故障转移 -->
		<MyKafka name="kafkaLog" topic="test" syncSend="true" ignoreExceptions="false" >
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%t] (%F:%L)  - %m%n" />
            <Property name="bootstrap.servers">127.0.0.1:9092</Property>
            <!-- <Property name="timeout.ms">2000</Property>
            <Property name="requestTimeoutMillis">2000</Property> -->
            <Property name="max.block.ms">2000</Property>
        </MyKafka>
        
        <RollingFile name="failoverKafkaLog" fileName="${web:rootDir}/WEB-INF/log/kafka-failover.log"
		            filePattern="${web:rootDir}/WEB-INF/log/failoverKafka/$${date:yyyy-MM}/kafka-failover-%d{yyyy-MM-dd}-%i.log">
		    <ThresholdFilter level="Debug" onMatch="ACCEPT" onMismatch="DENY"/>
		    <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%t] (%F:%L)  - %m%n" />
		    <Policies>
		        <TimeBasedTriggeringPolicy />
		        <SizeBasedTriggeringPolicy size="5 MB" />
		    </Policies>
		</RollingFile>
        
        <!-- <Failover name="Failover" primary="kafkaLog" retryIntervalSeconds="600" >
		    <Failovers>
		        <AppenderRef ref="failoverKafkaLog"/>
		    </Failovers>
		</Failover> -->

	</Appenders>

	<Loggers>
		<Root level="all">
			<!-- <AppenderRef ref="Console" /> -->
		</Root>
		
		<!-- 使用异步，否则当kafka宕机时会使系统卡顿 -->
		<AsyncLogger name="cn.gxf.spring.struts.mybatis.dao" level="DEBUG" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFileDebug" />
			<AppenderRef ref="RollingFileWarn" />
			<!-- <AppenderRef ref="Failover" /> --> <!-- kafka -->
		</AsyncLogger>
		
		<Logger name="cn.gxf.spring.quartz" level="DEBUG">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFileDebug" />
		</Logger>
		
		<Logger name="cn.gxf.spring.struts.integrate.actions" level="DEBUG">
			<!-- <AppenderRef ref="Console" /> -->
			<AppenderRef ref="RollingFileActionDebug" />
		</Logger>
		
		<Logger name="org.apache.struts2" level="INFO">
			<AppenderRef ref="RollingFileStruts" />
		</Logger>
		
		<Logger name="org.springframework" level="INFO">
			<AppenderRef ref="RollingFileSpring" />
		</Logger>
		
		<Logger name="cn.gxf.spring.struts.integrate.test" level="DEBUG">
			<AppenderRef ref="Console" />
		</Logger>
		
		<Logger name="cn.gxf.spring.cxf" level="DEBUG">
	        <!-- <AppenderRef ref="Console" /> -->
	        <AppenderRef ref="RollingFileDebug" />
	    </Logger>
	    
	    <Logger name="cn.gxf.spring.motan" level="DEBUG">
	        <AppenderRef ref="Console" />
	        <AppenderRef ref="RollingFileDebug" />
	    </Logger>
	    
		<!-- https://www.atomikos.com/Documentation/ConfiguringTheLogs -->
		<Logger name="com.atomikos" level="DEBUG">
	        <AppenderRef ref="Console" />
	        <AppenderRef ref="RollingFileDebug" />
	    </Logger>
	    
	    <Logger name="cn.gxf.spring.struts.integrate.security.WcDaoAuthenticationProvider" level="DEBUG">
	        <AppenderRef ref="RollingFileDebug" />
	    </Logger>
	    
	    <Logger name="cn.gxf.spring.struts.integrate.cache" level="DEBUG">
	   		<AppenderRef ref="Console" />
	        <AppenderRef ref="RollingFileDebug" />
	    </Logger>
	    
	    <!-- <Logger name="kafkaLogger" level="DEBUG">
            <AppenderRef ref="kafkaLog" />
        </Logger> -->
        
        <!-- <AsyncLogger name="kafkaLogger" level="DEBUG" additivity="false">
		    <appender-ref ref="Failover"/>
		</AsyncLogger> -->
	    
	</Loggers>
</Configuration>  