@CHARSET "UTF-8";

/* header */
		.site-nav {
		    position: relative;
		    z-index: 9999;
		    height: 30px;
		    border-bottom: 1px solid #e5e5e5;
		    background: #f2f2f2;
		    line-height: 30px;
		   
		}
		
		.g-layout-header {
		    max-width: 1184px;
		    min-width: 960px;
		    width: 100%;
		    margin: 0 auto;
		    _width: expression(document.documentElement.clientWidth>1280 ? "1280px":(document.documentElement.clientWidth < 960? "960px":"auto"));
		    font-family: 'PingFang SC',"Microsoft Yahei";
		    font-size: 14px;
		}
		
		
		.home {
		    position: relative;
		}
		
		/* .a {
		    color: #999;
		    cursor: pointer;
		} */
		
		.tool a {
			text-decoration: none;
    		margin-right: 24px;
		}
		
		.site-nav a {
   			color: #999;
		}
		
		.site-map .before {
		    content: "";
		    position: absolute;
		    /* left: -20px; */
		    width: 44px;
		    height: 24px;
		    margin-top: -10px;
		}
		
		.site-nav li {
		    float: right;
		    list-style: none;
 		    padding: 0 15px;  /* 两个li之间的间距 */
		}