<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.gxf.spring.struts.mybatis.dao.PaymentDetailMBDao">
  	
	<select id="getPaymentDetailByUserId" parameterType="int" 
		resultType="PaymentDetail">
		SELECT * from account_payment_detail WHERE user_id = #{user_id} AND yxbz='Y'
	</select>
	
	<select id="getPaymentDetailByUuid" parameterType="String" 
		resultType="PaymentDetail">
		SELECT * from account_payment_detail WHERE mxuuid = #{mxuuid} AND yxbz='Y'
	</select>
	
	<select id="getDetailByPatchUuid" parameterType="List" 
		resultType="PaymentDetail">
		SELECT * from account_payment_detail 
			WHERE yxbz='Y' AND mxuuid in 
			<foreach collection="list" index="index" item="mxuuid" open="(" separator="," close=")">  
        		#{mxuuid}  
    		</foreach>  
	</select>
	
	<select id="getDetailByPatchAccuuid" parameterType="List" 
		resultType="PaymentDetail">
		SELECT * from account_payment_detail 
			WHERE yxbz='Y' AND accuuid IN 
			<foreach collection="list" index="index" item="accuuid" open="(" separator="," close=")">  
        		#{accuuid}  
    		</foreach>  
	</select>
  	
  	<insert id="addOne" parameterType="PaymentDetail">
  		
  		<selectKey keyColumn="mxuuid" keyProperty="mxuuid" resultType="string" order="BEFORE">
			SELECT REPLACE(uuid(),'-','')
		</selectKey>
		
  		INSERT INTO account_payment_detail(mxuuid, accuuid, user_id, yhje, je, dl_dm, xl_dm, seller, zh_dm, shijian, bz, yxbz, xgrq, lrrq)
			VALUES(#{mxuuid}, #{accuuid}, #{user_id}, #{yhje}, #{je}, #{dl_dm}, #{xl_dm}, #{seller}, #{zh_dm}, #{shijian}, #{bz}, 'Y', null, NOW())
  	</insert>
  	
  	<update id="updateOne" parameterType="PaymentDetail">
		UPDATE account_payment_detail SET yhje= #{yhje}, je = #{je}, dl_dm = #{dl_dm}, xl_dm = #{xl_dm}, seller= #{seller}, 
				zh_dm = #{zh_dm}, shijian = #{shijian}, bz = #{bz}, xgrq = #{xgrq} 
				WHERE mxuuid = #{mxuuid}
  	</update>
  	
  	<update id="deleteOne" parameterType="Map">
  		UPDATE account_payment_detail SET yxbz='N', xgrq = #{xgrq} WHERE mxuuid = #{mxuuid}
  	</update>
  	
  	
  	<update id="deletePatch" parameterType="List">
  		UPDATE account_payment_detail SET yxbz='N', xgrq=NOW() 
  			WHERE mxuuid in 
  			<foreach collection="list" index="index" item="mxuuid" open="(" separator="," close=")">  
        		#{mxuuid}  
    		</foreach>  
  	</update>
    
</mapper>